# API
API_BASE_URL=https://restful-booker.herokuapp.com
API_SLA_MS=1500

# Mobile / Appium
ANDROID_DEVICE_NAME=emulator-5554
ANDROID_PLATFORM_VERSION=
APP_PATH=./apps/mda-2.0.1-23.apk

# Kafka optional
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=gps-raw-events
